<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration of the security authentication mode used by ASP.NET to identify an incoming user. 
            <authentication>节可以配置所使用的安全身份验证模式 ASP.NET 可以识别传入的用户。
        -->
    <authentication mode="Forms"/>
  </system.web>
  <connectionStrings>
    <add name="db2016ConnectionString2005" connectionString="Data Source=(local);Initial Catalog=db2016;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="db2016ConnectionString2008R2" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db2016;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="db2016ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=db2016;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>